@forward '../foundation/variable';
@use '../foundation/variable' as v;

@forward '../utility/length';
@use '../utility/length'as l;

@forward '../foundation/mixin';
@use '../foundation/mixin' as m;


.works {

  &-container_outside {
    max-width: 1157px;
    width: l.lg_a(1157);
    margin: 0 auto;
    padding-top: min( l.lg_a(210), 210px);
    padding-bottom: min( l.lg_a(106), 106px);
    border-left: min(0.15vw, 1.6px) solid v.$color-works-borderleft;

    @include m.mq-down('sp') {
      width: l.lg_b(468);
    }
  }

  &-container_inside {
    max-width: 1026px;
    width: l.lg_a(1026);
    margin: 0 auto;

    @include m.mq-down('sp') {
      width: l.lg_b(368);
    }
  }

    &-add_heading {
      text-align: center;
      color: v.$color-works-add;
      font-size: v.fs_a(24);
      font-family: v.$font_b;
      margin-left: max(l.lg_a(-9), -9px);
    }

    &-heading {
      margin-top: min(l.lg_a(30), 30px);
      margin-left: max(l.lg_a(-11), -11px);
    }

    &-case {
      margin-top: min(l.lg_a(97), 97px);
    }

      &-item {
        display: flex;

        @include m.mq-down('sp') {
          flex-direction: column;
        }

      &:nth-child(2) {
        margin-top: min(l.lg_a(159), 159px);
      }

      &:nth-child(3) {
        margin-top: min(l.lg_a(158.7), 158.7px);
      }

      }

        &-img {
          width: calc( 497.25 / 1026 * 100% );
          position: relative;

          @include m.mq-down('sp') {
            width: 100%;
          }

        &:before {
          content: "";
          display: block;
          border-radius: 50%;
          border: min(1.13vw, 17px) solid v.$color-works-circle;
          background-color: v.$color-works-circle_background;
          width: min(1.58vw, 21px);
          height: min(1.58vw, 21px);
          position: absolute;
          top: 0;
          left: -126.9%;
          bottom: 0;
          right: 0;
          margin: auto;

          @include m.mq-down('sp') {
            left: -127.5%;
          }
        }

        }

        &-txt {
          width: calc( 501 / 1026 * 100% );
          margin-left: min( calc( 27.75 / 1026 * 100% ), 27.25px);

          @include m.mq-down('sp') {
            width: 100%;
            margin-left: 0;
            margin-top: l.lg_b(30);
          }
        }

          &-time {
            font-size: v.fs_a(32);
            font-family: v.$font_c;
            color: v.$color-works-time;
            display: block;

          &_1 {
            margin-top: max(l.lg_a(-2.6), -2.6px);
            margin-left:  max(l.lg_a(-2), -2px);
          }

          &_2 {
            margin-top: min(l.lg_a(8), 8px);
          }

          &_3 {
            margin-top: min(l.lg_a(8), 8px);
          }        

          }

          &-desc {
            font-size: v.fs_a(20);
            font-family: v.$font_d;
            color: v.$color-works-desc;
            font-weight: 400;
            margin-top: min(l.lg_a(19), 19px);
            line-height: 2;
          }

      &-mind {
        margin-top: min(l.lg_a(119), 119px);
        margin-left: min(l.lg_a(106), 106px);

        @include m.mq-down('sp') {
          margin-left: 0;
          margin-top: l.lg_b(48);
        }
      }
        
        &-mind-title {
          font-size: v.fs_a(32);
          font-family: v.$font_d;
          color: v.$color-works-mind_title;
          font-weight: 400;
        }

        &-mind-desc {
          font-size: v.fs_a(20);
          font-family: v.$font_d;
          color: v.$color-works-mind_desc;
          margin-top: min(l.lg_a(19), 19px);
          margin-left: max(l.lg_a(-2), -2px);
          line-height: 2;

          @include m.mq-down('sp') {
            margin-top: l.lg_b(20);
          }
        }

        .br {
          @include m.mq-down('sp') {
            display: none;
          }
        }
}